dataset/fruit-detection
dataset/fruit_images (apple, banana, orange)/
dataset/input

__pycache__/
.ipynb_checkpoints/
/dataset
models/faster_rcnn_fruits.pth
/static/
/static/
models/resnet18_finetuned_2.pth
